extends layout

block content
  .container
    .jumbotron
      .container
        h1 How May I Help You?
        p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        a.btn.btn-primary.btn-lg(href='#') Learn More  &raquo;
